.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#007bff; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.logout-button a:hover {
    background-color: #0056b3; 
}

.login-container h1 {
    color: #28a745; 
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.full-width-content {
    width: 100%; 
    padding: 0 30px; 
    box-sizing: border-box; 
    margin-top: 20px; 
}

.full-width-content h3 {
    font-size: 22px; 
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left; 
}

.full-width-content p {
    font-size: 16px; 
    line-height: 1.6; 
    margin-bottom: 15px;
    text-align: left;
}
.success-message {
    color: green;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}